{% extends "layout.html" %}

{% block title %}
{{ objTema.nombreTema }}
{% endblock %}

{% block contenido %}
<h2>{{ objTema.nombreTema }}</h2>
<h4>{{ objTema.descripcionTema }}</h4>
{% for articuloInfo in listaArticulo %}
<div class="card w-75 mt-4">
    <div class="card-body">
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="{% url 'wikiApp:vistaArticulo' articuloInfo.id %}">{{ articuloInfo.tituloArticulo }}</a>
        <p>{{articuloInfo.contenidoArticulo}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}